.box{
    border: 3px solid rgb(143, 10, 143);
    background-color: rgba(0, 0, 0, 0.493);

    width: inherit;
    margin: 2%;
    padding: 1%;

    @include responsive-to(medium) {
        width: 90%;
        margin: 1% auto;
    }
}

.box_paragraphe{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 120%;
    backdrop-filter: blur(5px);
}

.box_skills{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    background-color: rgba(68, 4, 52, 0.616);
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

    @include responsive-to(medium) {
        display: flex;
        flex-direction: column;
    }
}

// @media (max-width: 1000px) {
//     .box_skills{
//         display: flex;
//         flex-direction: column;
//     }
//     .box{
//         width: 90%;
//         margin: 1% auto;
//     }
// }