.main, .conteiner-aboutMe{
    height: fit-content;
    z-index: 100;
}

.left-hand{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.411);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 20%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 99;

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .nav-links-hand{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            width: 100%;

            div{
                margin: 2px;

                a{
                    display: block;
                    padding: 2%;

                    &:hover{
                        background-color: rgba(0, 0, 255, 0.363);
                    }
                }
            }
        }
    }
}


.right-hand{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
}

.contact-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .main, .conteiner-aboutMe{
        height: fit-content;
        z-index: 100;
    }

    .left-hand{
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 0;
        left: 0;
    }

    .contact-conteiner{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .right-hand-aboutMe-conteiner{
        display: flex;
        flex-direction: column;
    }
}