.rightHandOffBar{
    .row{
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 1000px){
    .rightHandOffBar{
        .row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .card{
                width: 90%;
                margin: 1% auto;
            }
          }
    }
}